html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body{
	background:#DCE3E8;
}

.main_wrapper{
	width: 1000px;
	height:auto;
	margin: auto;

}

.header_wrapper{
	width:auto;
	height:160px ;
	margin:auto;
	background:#01305E;
}
.header_wrapper img{
	width:1024px; 
	height:160px;

}
.header_wrapper h2{
	text-align:center;
	color:white;
	font-size:40px;
	font-weight:bold;
}
.menubar{
	width:1000px;
	height:50px;
	background:url(images/menubar.jpg) repeat-x scroll 0 0 #00B0F0;
	color:white; 
	margin:auto;
	border: 2px solid yellow;
	border-radius: 5px; 
}
#menu{
	padding:0;
	margin:0;
	line-height:40px;
	float: left;
}

#menu li{
	list-style:none;
	display:inline;
	
}
#menu a{
	text-decoration:none;
	color:white;
	padding:8px;
	margin:5px;
	font-size:18px;
	font-family:COMIC SANS MS;
	
}
#menu a:hover{
	font-weight:bolder;
	background:white;
	padding: 0 0 5px 5px;
	border: 2px solid yellow;
    border-radius: 5px; 
	color:black;
	padding:5px;
	line-height:50px;
}
#form{float:right; padding-right: 8px; line-height:50px;}
.contain_wrapper{
	width:1000px;
	height:750px;
	background:#ffffff;
	border: 2px solid yellow;
	
}
#content_area{
	width:800px;
	float:right;
	background:white;
}
#sidebar{
	width:200px;
	height:750px;
	background:white;
	float:left;
	border: 1px solid yellow;
	border-radius: 5px;
	
}
#sidebar_title{
	background:#002C57;
	color:white;
	font-size: 22px;
	font-family:arial;
	padding:10px;
	text-align:center;
	border: 1px solid yellow;
}
#cats{
	padding:0;
	text-align:center;
	background:#00B0F0;
	width:200px;
	height:321px;
}
#cats  li{
	list-style:none;
	margin:5px;
}
#cats a{
	color: white; 

	text-align:left-side;
	font-size:20px;
	text-decoration:none; 
	padding-bottom:5px;
}
#cats a:hover{
	font-weight:bolder;
	text-decoration:underline;

}
#latest_news{
	padding:0;
	text-align:left;
}
#latest_news li{
	margin:5px;
	list-style:square;
}
#latest_news a{
	color: black; padding:8px; margin:5px; text-align:left;font-size:20px;text-decoration:none; font-family:COMIC SANS MS;
}

#products_box{
	width: 780px;
	text-align:center;
	margin-left:30px;
	margin-bottom:10px;
	
	
}
#single_product{
	float:left;
	margin-left:30px;
	padding:10px;
	
}
#single_product img{border: 2px solid black;}

#shopping_cart{
	width:800px;
	height:50px;
	background:black;
	color: white;
	
	
}
#table_decoration{
	border:1px solid black;
	margin:5px;
	overflow: hidden;
	padding: 2px;
}
#table_decoration table{
	border:1px solid yellow;
	text-align: center;
	background: #F5F5F5;
	padding: 5px;
	margin: auto;
	
}
#form_decoration{
	width:400px;
	 margin: 0 auto; 

	 border:1px solid #000;
	 background: skyblue;
	 padding:50px;

}


#footer{
	width:auto;
	height:35px;
	background:#01305E;
	overflow: hidden;
	
}
#footer h2{
	
	color:white;
	text-align:center;
	font-size:15px;
	line-height:35px;
}
